
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* VARIABLES */

:root {
    --primary-color: #FFDD4A;
    --secondary-color: #F4FEC1;
    --accent1-color: #3C6997;
    --accent2-color: #094074;
    
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Montserrat', sans-serif;

    --nav-background-color: #ffffff;
    --nav-link-color: #000000;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #094074;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY starts */

body {
    font-family: var(--paragraph-font);
    max-width: 1600px;
}
body {
    font-family: 'Montserrat', sans-serif;
}


/* HEADER starts */

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);
}
header {
    background-color: var(--primary-color);
    display: grid;
    max-width: 1600px;
}

.navigation {
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 1.2rem;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem 40px;
}

.navigation a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

header img {
    position: absolute;
    z-index: 1;
}

/* HEADER ends */
/* MAIN starts */

main div img {
    position: relative;
    width: 1600px;
    height: auto;
    display: flex;
    justify-content: center;
}

p {
    padding: 25px;
}

h1 {
    font-weight: 900;
}

h2 {
    font-weight: 800;
    text-align: center;
    padding-bottom: 20px;
    font-size: 28px;
}

/* MAIN ends */
/* FOOTER starts */

footer {
	display: flex;
    bottom: 0;
    background-color: var(--primary-color);
    font-size: 1rem;
    width: auto;
    justify-content: center;
}

footer nav a {
    display: flex;
    color: var(--nav-link-color);
    text-decoration: none;
    padding-left: 50px;
}

footer p {
    text-align: center;
}

.wireframe {
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.wireframe:hover {
    justify-content: center;
    align-items: center;
    background-color: #094074;
    color: #ffffff;
}

/* Class and sections */

.grid img {
    position: absolute;
    left: 300px;
}

.hero {
    position: relative;
    width: 1500px;
    height: auto;
}

.hero h1 {
    position: absolute;
    font-size: 40px;
    height: auto;
    top: 40px;
    left: 80px;
    padding-right: 500px;
    padding-left: 500px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgba(0, 54, 125, 0.4);
    color: var(--primary-color);
    text-align: center;
}

.hero-trip h1 {
    position: absolute;
    font-size: 40px;
    height: auto;
    top: 250px;
    left: 80px;
    padding-right: 300px;
    padding-left: 300px;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: rgba(0, 54, 125, 0.4);
    color: var(--primary-color);
    text-align: center;
}

.hero-trip h3 {
    position: absolute;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    left: 560px;
    bottom: 340px;
    z-index: 0;
    color: #fff;
    font-weight: 300;
}

.hero article img {
    position: absolute;
    display: block;
    width: 15%;
    height: auto;
    top: 380px;
    left: 870px;
    margin: auto;
    z-index: 1;
}

.hero section img {
    display: block;
    width: 45%;
    height: auto;
}

.hero article p {
    position: absolute;
    display: block;
    top: 360px;
    left: 470px;
    width: 650px;
    padding-right: 280px;
    padding-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    margin: auto;
}

section {
    display: flex;
    justify-content: space-around;
}

.flexbox-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 40px;
}

.flexbox-item {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 800px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 100px;
}


.flexbox-button .button {
    position: absolute;
    display: block;
    justify-content: center;
    width: 300px;
    top: 450px;
    left: 650px;
    margin: 40px 0 10px;
    background-color: #FFDD4A;
    color: #094074;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
}

.flexbox-button:hover .button {
    background-color: #094074;
    color: #ffffff;
    text-decoration: none;
}

/* GRID OF IMAGES using FLEXBOX */


.flexbox-container-2 {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    margin-bottom: 40px;
}

.heading-container {
    margin-bottom: 20px;
}

.flexbox-item-2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1500px;
}

.img {
    flex: 1;
    margin: 10px;
    position: relative;
}

.img img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.img figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--accent2-color);
    color: #fff;
    padding: 5px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

  .sociallinks {
    display: flex;
}


/* EMPLOYER at Contact Page */

.employergrid {
    display: flex;
    column-gap: 80px;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 80px;
}

.employergrid h1 {
    position: absolute;
    z-index: 1;
    top: 160px;
}

.employer {
    width: 200px;
}

.employer img {
    width: 200px;
    height: auto;
    align-items: center;
}

/* EMPLOYERS end page */

/* FORM STYLE */

.form-container {
    position: relative;
    left: auto;
}

form {
    width: 650px;
    margin: 40px auto 20px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: #FFDD4A;
    display: grid;
}


h2 {
    padding: 10px;
    color: #094074;
    font-size: 30px;
    font-weight: 900;
    padding-top: 20px;
}

label {
    padding-bottom: 10px;
    padding-top: 10px;
}

label, input, button, select, textarea {
    font-family: Arial, sans-serif;
}

input, select, textarea {
    padding: 20px;
    font-size: 16px;
}

input {
    height: 22px;
    vertical-align: bottom;
}

.radio-message {
    display: flex;
    justify-content: center;
}

.radio {
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
}



button {
    margin: 40px 0 10px;
    background-color: #094074;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 12px;
    font-size: 16px;
}

button:hover {
    background-color: #F4FEC1;
    color: #094074;
}

.form-item {
    display: grid;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
    margin-right: 10px;
}

.checkbox label {
    display: inline-flex;
    padding-top: 20px;
}


/* CONTACT INFO PAGE starts */

.contact-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
}

.contact-item {
    padding-top: 140px;
    padding-bottom: 80px;
}

.contact-item img {
    width: 40px;
}

.contact-item-1 {
    position: absolute;
    z-index: 1;
    justify-self: center;
    top: 1280px;
    font-size: 40px;
}

.contact-item-2 {
    display: flex;
    flex-direction: column;
}

.contact-item-3 {
    padding-left: 150px;
}

.contact-item-3 h3 {
    padding-bottom: 20px;
}

.contact-item-3 iframe {
    width: 500px;
    height: 300px;
}


/* HOME PAGE BODY SECTION 3 */


.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    max-height: 800px;
}

.header h2 {
    position: relative;
    text-align: center;
    left: -20px;
    width: 1600px;
    margin-bottom: 30px;
    margin-top: 30px;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(2, 46, 104);
    font-size: 40px;
    height: auto;
    color: var(--primary-color);
    text-align: center;
    padding-bottom: 30px;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-content: space-around;
    width: 1550px;
}

.image {
    overflow: hidden;
    position: relative; /* Add position relative to create stacking context */
}

.image img {
    justify-content: space-around;
    width: 500px;
    height: 400px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.text {
    position: relative;
    bottom: 0; /* Align to the bottom of the image */
    width: auto;
    background-color: rgb(2, 46, 104, 1);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 60px;
    margin-bottom: 40px;
}

.text h3 {
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.text p {
    margin: 0;
}


/* TRIPS PAGE SECTION TRIPS FEATURES */

.features {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.feature {
    width: 30%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feature img {
    width: 100%;
    border-radius: 10px;
}

.description {
    margin-top: 10px;
}

.description h2 {
    margin-top: 0;
}

.description p {
    color: #666;
}


/* TRIPS PAGE SECTION TABLE */

.table-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.table-container h2 {
    margin-bottom: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--accent2-color);
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--primary-color);
    color: #094074;
    font-size: 18px;
    font-family: var(--heading-font)
}

td {
    font-size: 16px;
}

.note {
    font-style: italic;
    margin-top: 10px;
    font-size: 14px;
}